In [22]:
teman = ['Aldi Gunawan', 'Risti Tagor', 'Herman Pelani', 'Anjasmara', 'Roger']

pd.Series(teman)

0     Aldi Gunawan
1      Risti Tagor
2    Herman Pelani
3        Anjasmara
4            Roger
dtype: object

In [23]:
usia = [17, 21, 22, 25]

pd.Series(usia)

0    17
1    21
2    22
3    25
dtype: int64

In [24]:
data_acak = [17, 'Karawng', 18.5, {'Kondisi': 100}]

pd.Series(data_acak)

0                  17
1             Karawng
2                18.5
3    {'Kondisi': 100}
dtype: object

In [26]:
teman = ['Joni Indo', 'Steven William', 'Barry Prima', 'Arnold']

temanAkrab = {0: 'Joni Indo', 1:'Steven William', 2:'Barry Prima', 3:'Arnold'}

a = pd.Series(teman)
b = pd.Series(temanAkrab)

a.equals(b)

True

In [27]:
a.equals(b)

True

In [28]:
type(teman)

list

In [29]:
pd.Series(data=teman, index=['Lucu', 'Menggemaskan', 'Nyebelin', 'Asyik'])

Lucu                 Joni Indo
Menggemaskan    Steven William
Nyebelin           Barry Prima
Asyik                   Arnold
dtype: object

In [33]:
pd.RangeIndex(start=5, stop=8, step=1)

list(pd.RangeIndex(start=5, stop=8, step=1))

[5, 6, 7]

In [34]:
angka = pd.Series(range(100))

In [35]:
angka.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [36]:
angka.tail()

95    95
96    96
97    97
98    98
99    99
dtype: int64